<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Information</title>
        <link href="../css/submitAttendance.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <h2>Student Information</h2>

        <table>
            <tr>
                <th>No</th>
                <th>Class</th>
                <th>Code</th>
                <th>Name</th>
                <th>Image</th>
                <th>Attendance</th>
                <th>Lecturer</th>
<!--                <th>Record Time</th>-->
            </tr>
            <tr>
                <td>1</td>
                <td>SE1763</td>
                <td>HE171234</td>
                <td>Do Manh Hung</td>
                <td><img src="path/to/image.jpg" alt="Student Image" width="50"></td>
                <td>
                    <input type="checkbox" id="present" name="present">
                    <label for="present">present</label>
                    <input type="checkbox" id="absent" name="absent">
                    <label for="absent">absent</label>
                </td>
                <td>XXXXX</td>
<!--                <td>2023-10-07 10:00 AM</td>-->               
            </tr>
            <tr>
                <td>2</td>
                <td>SE1763</td>
                <td>HE171235</td>
                <td>Nguyen Viet Hoang</td>
                <td><img src="path/to/another-image.jpg" alt="Student Image" width="50"></td>
                <td>
                    <input type="checkbox" id="present2" name="present2">
                    <label for="present2">present</label>
                    <input type="checkbox" id="absent2" name="absent2">
                    <label for="absent2">absent</label>
                </td>
                <td>XXXXX</td>
            </tr>
            <tr>
                <td>3</td>
                <td>SE1763</td>
                <td>HE171236</td>
                <td>Hoang Van Tan</td>
                <td><img src="path/to/yet-another-image.jpg" alt="Student Image" width="50"></td>
                <td>
                    <input type="radio" id="present3" name="present3">
                    <label for="present3">present</label>
                    <input type="radio" id="absent3" name="absent3">
                    <label for="absent3">absent</label>
                </td>
                <td>XXXXX</td>
            </tr>
        </table>
        <input type="submit" value="Save">
        <br>
        <input type="submit" value="Back schedule">
        <br>
        <input type="submit" value="Attendance Report">
    </body>
</html>
