/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 9, 2023, 3:24:48 PM
    Author     : fpt
*/
            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid grey;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #6b90da;
                border-right: 1px solid #fff;
                padding: 2px;
                text-transform: uppercase;
                height: 23px;
                background-color: #6b90da;
                font-weight: normal;
            }

            .header-row {
                background-color: #008000;
                color: #ffffff;
            }